{% macro sls_block(dict) -%}
    {% for key, value in dict.items() -%}
    - {{ key }}: {{ value|json() }}
    {% endfor -%}
{% endmacro -%}

{% set python2 = salt['pillar.get']('python2', {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'python',
            'dev_package': 'python-dev',
            'pip_package': 'python-pip',
            'virtualenv_package': 'virtualenv',
            'pip': False,
            'dev': False,
            'virtualenv': False,
        },
        'RedHat': {
            'package': 'python',
            'dev_package': 'python-devel',
            'pip_package': 'python-pip',
            'virtualenv_package': 'virtualenv',
            'pip': False,
            'dev': False,
            'virtualenv': False,
        },
    }, default='Debian' ),
    'package': {
        'opts': {},
    },
    'pip': {
        'opts': {},
    },
    'pips': {
    },
    'dev': {
        'opts': {},
    },
    'virtualenv': {
        'opts': {},
    },
    'virtualenvs': {
        'managed': {},
    },
}, merge=True) %}


